.herotext{
    text-align: center;
    font-size: 1.5em;
    margin: 2em auto;
    font-weight: 600;
    width: 75%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-top:solid black;
    border-bottom:solid black;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2em 0;
}
.container button{
    all: unset;
    font-size: 1.2em;
    font-weight: 900;
    border: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 1.5em;
    border-radius: 1em;
}
.grid{
    width: 80%;
    border: solid black;
    margin: 0 auto;
}
.addSubjectContainer{
    border: solid;
    width: 80%;
    margin: 0 auto;
}
.addSubjectContainer form{
    display: flex;
    flex-direction: column;
}
.addSubjectContainer form span{
    text-align: center;
    font-weight: 600;
}
input{
    text-align: center;
    width: 80%;
    font-size: 1.5em;
    margin: 1em auto;
}
.subjects ul li{
    list-style-type: none;
    padding: 1em;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: solid;
}
.tworow{
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}
.tworow span{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    margin: 0 5px;
}